BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
click==6.6
decorator==4.0.10
elasticsearch==2.3.0
elasticsearch-dsl==2.1.0
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
lorem-ipsum-generator==0.3
MarkupSafe==0.23
oauthlib==1.1.2
pep8==1.7.0
pexpect==4.2.0
praw==3.5.0
ptyprocess==0.5.1
pynsca==1.5
python-dateutil==2.5.3
requests==2.10.0
requests-oauthlib==0.6.2
shutit==0.9.200
six==1.10.0
texttable==0.8.4
transliterate==1.8.1
tweepy==3.5.0
update-checker==0.11
urllib3==1.16
virtualenv==15.0.2
Werkzeug==0.11.10
